{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main>
  <section class="mb-4 mt-4">
    <div class="row">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="card p-5">
          <h2>{% trans "Sign Up" %}</h2>

          <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
            {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

          <form id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            
            <div class="row g-3">
              <div class="col-sm-6">
                {{form.username|as_crispy_field}}
              </div>
              <div class="col-sm-6">
                {{form.email|as_crispy_field}}
              </div>
              <div class="col-sm-12">
                {{form.phone_no|as_crispy_field}}
              </div>
              
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-{{theme}} mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}