{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href={% static 'css/shards.min.css' %} />
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css">

<style>
    ::-webkit-scrollbar {
        width: 8px;
        background-color: #f3d1d8;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #C4183C;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #b01636;
    }
</style>

{% comment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css"> {% endcomment %}
{% comment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css"> {% endcomment %}